---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/poppins/400.css";  // Regular weight
import "@fontsource/poppins/500.css";  // Medium weight
import "@fontsource/poppins/600.css";  // Semi-bold weight
import "@fontsource/poppins/700.css";  // Bold weight

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Sav AI"
  : "Sav AI | Download Today";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Facebook SDK -->
    <script is:inline>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml: true,
          version: 'v18.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Rest of your head content -->
    <SEO
      title={makeTitle}
      description="Sav AI. Never miss a price drop again."
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Sav AI. Never miss a price drop again.`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Sav AI Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <!-- Facebook Chat Plugin DOM elements -->
    <div id="fb-root"></div>
    <div 
      id="fb-customer-chat" 
      class="fb-customerchat" 
      data-attribution="biz_inbox"
      data-page_id="100068918122229">
    </div>

    <Navbar />
    <slot />
    <Footer />
    
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
